*{
    margin: 50%;
    padding: auto;
    background-color: rgb(222, 165, 233);
}
#res{
    float: left;
}
fieldset{
    background-color: aquamarine;
}
body{
    margin: 50%;
    padding: auto;
    background-color: rgb(222, 165, 233);
}